.AboutMe {
  background: var(--primary-background-black);
  padding-top: 96px;
  padding-bottom: 66px;
  overflow: hidden;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.AboutMe h2 {
  font: 22px/30px "opensans-bold", sans-serif;

  margin-bottom: 12px;
  color: var(--primary-white) !important;
  text-transform: uppercase;
}

.AboutMe p {
  line-height: 30px;
  color: var(--primary-grey);
  text-align: justify;
}

.profile-img {
  position: relative;
  width: 310px;
  height: auto;
}

.profile-img2 {
  position: relative;
  width: 310px;
  height: auto;
}

@media (max-width: 991px) {
  .profile-img2 {
    display: none;
  }
}

@media (max-width: 1147px) {
  .profile-img2 {
    padding-top: 2vh;
  }
}

@media (max-width: 990px) {
  .profile-img {
    width: 280px;
  }
}

@media (max-width: 778px) {
  .profile-img {
    width: 240px;
  }
}

@media (max-width: 767px) {
  .profile-img {
    display: none;
  }
}

@media (max-width: 576px) {
  .about-text {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 461px) {
  .about-text {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 400px) {
  .about-text {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 350px) {
  .about-text {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
}
