.AboutMe {
  background: var(--primary-background-black);
  padding-top: 96px;
  padding-bottom: 66px;
  overflow: hidden;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 768px) {
  .photo-wrap {
    position: relative;
  }
}

@media (max-width: 768px) {
  .about-text {
    position: relative;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.AboutMe h2 {
  font: 22px/30px "opensans-bold", sans-serif;

  margin-bottom: 12px;
  color: var(--primary-blue-light) !important;
  text-transform: uppercase;
}

.AboutMe p {
  line-height: 30px;
  color: var(--primary-grey);
  text-align: justify;
}

.profile-img {
  position: relative;
  width: 310px;
  height: auto;
  padding-left: 10%;
}
