.Education h3 {
  color: var(--primary-background-black);
}

.Education h2 {
  color: var(--primary-white);
  padding-bottom: 2rem;
}

.upper-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upper-section {
  min-height: 8vh;
  width: 100%;
  background: var(--primary-white);
}

p {
  text-align: center;
}
