/*Navbar*/
.navbar {
  background-color: var(--primary-background-black);
  padding-right: 0%;
}

nav {
  z-index: 2;
}

/*Menu links*/
nav a.nav-link {
  font-size: 0.9rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav li a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-grey) !important;
}

.navbar-nav li a.active,
.navbar-nav li a:focus {
  border-top: 0.1875rem solid var(--primary-grey);
}
