/*
.video-container {
  margin-left: 4rem;
}*/
/*
.text-container {
  padding-left: 10%;
}*/

@media (max-width: 768px) {
  .video-container-info {
    padding-top: 2rem;
    padding-left: 2rem !important;
    padding-right: 2rem;
  }
}

@media (max-width: 580px) {
  .video-container-info,
  .text-container {
    width: 350px;
    margin: auto;
    padding-left: 0rem !important;
    padding-right: 0rem;
  }
}

@media (max-width: 417px) {
  .video-container-info,
  .text-container {
    width: 280px;
    margin: auto;
    padding-left: 0rem !important;
    padding-right: 0rem;
  }
}

@media (max-width: 350px) {
  .video-container-info,
  .text-container {
    width: 250px;
    margin: auto;
    padding-left: 0rem !important;
    padding-right: 0rem;
  }
}

.project-example {
  padding-top: 5%;
  color: var(--primary-background-black);
  text-transform: uppercase;
  padding-left: 35%;
}

@media (max-width: 768px) {
  .project-example {
    padding-left: 25%;
  }
}

@media (max-width: 417px) {
  .project-example {
    display: none;
  }
}
