.skillsSection {
  padding-top: 72px;
  padding-bottom: 20px;
  overflow: hidden;
}

.skillsSection h4 {
  color: var(--primary-blue);
}

.progress-bar {
  margin-bottom: 5rem;
  padding: 0.02%;
  width: 50%;
  color: var(--primary-blue);
  height: 15px;
  border-radius: 3px;
}
